body,
html {
  height: 100%;
  margin: 0;
  background-color: black;
}
.bg {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url("./images/lineage_news_info_bg.webp");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: greenyellow;
  position: relative;
}
.donate_icon_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
#donate_icon {
  width: 250px;
  left: 0;
  position: absolute;
  bottom: 0;
  margin-left: 30px;
}
.logo_view {
  cursor: pointer;
  background-image: url("./images/lineage_title.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 300px; /* 根據需要設置寬度 */
  height: 120px; /* 根據需要設置高度 */
  display: inline-block;
  position: absolute; /* 固定位置 */
  bottom: 20px; /* 從螢幕底部距離 */
  right: 20px; /* 從螢幕右側距離 */
}

.logo_view a {
  display: block; /* 讓 <a> 充滿父容器 */
  width: 100%; /* 寬度填滿父容器 */
  height: 100%; /* 高度填滿父容器 */
  position: absolute; /* 絕對定位以覆蓋父容器 */
  top: 0;
  left: 0;
  text-indent: -9999px; /* 隱藏文字（如果有） */
}

.main_news_list {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr); /* 每行兩個項目 */
  gap: 20px 20px; /* 項目之間的間距 */
  width: 100%; /* 讓寬度自適應螢幕 */
  height: 80%;
  margin-top: 5%;
  margin-left: 340px; /* 清除固定的 margin */
  margin-right: 340px;
  overflow-y: auto; /* 開啟垂直滾動 */
  overflow-x: hidden; /* 禁止水平滾動 */
}
.main_news_list::-webkit-scrollbar {
  width: 5px; /* 滾動條寬度 */
}

.main_news_list::-webkit-scrollbar-thumb {
  background: #888; /* 滾動條顏色 */
  border-radius: 2px; /* 滾動條圓角 */
}
.main_news_list::-webkit-scrollbar-thumb:hover {
  background: #555; /* 滾動條懸停顏色 */
}
.item {
  height: auto;
  cursor: pointer;
  background-image: url("./images/lineage_donate_item.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; /* 拉伸圖片以完全填充容器 */
  color: white; /* 白色文字 */
  border-radius: 8px; /* 圓角 */
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif; /* 字體 */
  display: flex; /* 使用 Flexbox 排列 */
  flex-direction: column; /* 垂直排列 */
  text-align: left; /* 文字居中 */
}
.icon-text {
  margin-top: 20px;
  display: inline-flex;
  align-items: center; /* 垂直置中 */
  width: 100%; /* 確保容器足夠寬 */
  justify-content: center; /* 水平向左對齊 */
}

.icon-text img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: block; /* 確保圖片是區塊級，避免影響其他元素 */
}
.icon-text span {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.item-content {
  white-space: nowrap; /* 限制為單行 */
  text-overflow: ellipsis; /* 超出部分以...顯示 */
  overflow: hidden;
  width: 100%;
}

.small_icon2 {
  width: 40px;
  height: 40px;
  display: block;
}
.item-content {
  display: inline-flex;
  align-items: center;
  justify-content: center; /* 水平置中 */
  padding: 10px;
}

.item-content span {
  font-size: 25px;
  margin-right: 15px;
  color: white; /* 文字顏色 */
  text-shadow: -1px -1px 0 red, /* 左上 */ 1px -1px 0 red,
    /* 右上 */ -1px 1px 0 red, /* 左下 */ 1px 1px 0 red; /* 右下 */
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.dialog-box {
  width: 45%;
  height: 70%;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%); /* 将对齐点从左上角移到中心 */
  position: absolute;
  background-image: url("./images/lineage_deposit_dialog_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; /* 拉伸圖片以完全填充容器 */
  z-index: 1000;
}

.dialog-box h1 {
  color: white;
  margin-left: 8%;
  margin-right: 8%;
}
.dialog-box h4 {
  color: white;
  margin-left: 8%;
  margin-right: 8%;
}

.icon-amount {
  margin-top: 18px;
  display: inline-flex;
  align-items: center; /* 垂直置中 */
  width: 100%; /* 確保容器足夠寬 */
  justify-content: center; /* 水平向左對齊 */
}

.icon-amount img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  display: block; /* 確保圖片是區塊級，避免影響其他元素 */
}
.icon-amount span {
  font-size: 40px;
  color: #7ce5e9;
  font-weight: bold;
}
.hidden {
  display: none;
}
