body,
html {
  height: 100%;
  margin: 0;
  background-color: black;
}
.bg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  background-image: url("./images/lineage_background_image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: greenyellow;
  position: relative;
}


#deposit_guide_icon {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 170px;
  height: 100%;
  cursor: pointer;
}
#user_guide_icon {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 10%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 170px;
  height: 100%;
  cursor: pointer;
}

#lineage_dowanload {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 20%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 170px;
  height: 100%;
  cursor: pointer;
}

#contact_us {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 30%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 170px;
  height: 100%;
  cursor: pointer;
}
#community {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 40%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 170px;
  height: 100%;
  cursor: pointer;
}

.first_icon_list {
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin-left: 46%;
  height: 20%;
  display: flex; /* 使用 Flexbox 布局 */
  flex-direction: row;
}

.black-overlay {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: auto;
  margin-left: 46%;
  border-radius: 15px; /* 設置圓角為 15px */
  background: rgba(0, 0, 0, 0.5); /* 半透明黑色背景，透明度設為 0.5 */
  margin-top: 7%;
  overflow-y: auto; /* 開啟垂直滾動 */
  overflow-x: hidden; /* 禁止水平滾動 */
}

.black-overlay::-webkit-scrollbar {
  width: 8px; /* 滾動條寬度 */
}

.black-overlay::-webkit-scrollbar-thumb {
  background: #888; /* 滾動條顏色 */
  border-radius: 4px; /* 滾動條圓角 */
}

.black-overlay::-webkit-scrollbar-thumb:hover {
  background: #555; /* 滾動條懸停顏色 */
}

#title {
  width: 550px; /* Logo 寬度，可調整 */
  height: 280px;
  margin-top: 10px; /* 與 Action Bar 的距離 */
  display: inline-block;
  position: absolute; /* 使用絕對定位 */
  bottom: 0; /* 固定在螢幕底部 */
  left: 0; /* 固定在螢幕左側 */
  margin-bottom: 50px;
  margin-left: 50px;
}

.new_info,
.system_info {
  margin-top: 20px;
  margin-left: 20px;
}

.list-item {
  margin-top: 5px;
  padding-left: 0px;
  width: 500px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.list-item2 {
  width: 500px;
  margin-top: 5px;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.list-item:hover,
.list-item2:hover {
  color: yellow; /* 變成黃色 */
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: auto;
  height: 50px;
}
