body,
html {
  height: 100%;
  margin: 0;
  background-color: black;
}
.bg {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url("./images/lineage_background_image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: greenyellow;
  position: relative;
}
.action_bar_bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 100px;
  background-image: url("./images/action_bar.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.action-bar-text {
  z-index: 20; /* 保證文字位於圖片之上 */
  display: flex;
  gap: 20px; /* 設置文字之間的間距 */
  font-size: 16px;
  font-weight: bold;
  color: white;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 添加文字陰影 */
}
.action-bar-text a {
  text-decoration: none; /* 去掉底線 */
  color: inherit; /* 繼承文字顏色 */
}
.action-bar-text span {
  cursor: pointer;
  padding: 0 10px;
  transition: color 0.3s ease;
}
.action-bar-text span:hover {
  color: yellow; /* 鼠标悬停时变黄 */
}

.first_icon_list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.second_icon_list {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#contact_us {
  width: 100px;
  height: 120px;
  top: 0;
  right: 0;
  display: inline;
  top: 50px;
  margin-right: 50px;
  position: fixed;
  cursor: move;
}
#community {
  width: 100px;
  height: 120px;
  top: 0;
  right: 0;
  display: inline;
  top: 200px;
  margin-right: 50px;
  position: fixed;
  cursor: move;
}

#title {
  width: 500px; /* Logo 寬度，可調整 */
  height: 230px;
  margin-top: 10px; /* 與 Action Bar 的距離 */
  display: inline-block;
  position: absolute; /* 使用絕對定位 */
  bottom: 0; /* 固定在螢幕底部 */
  left: 0; /* 固定在螢幕左側 */
  margin-bottom: 100px;
  margin-left: 50px;
}
#deposit_guide_icon {
  width: 220px;
  height: 110px;
  margin-left: 350px;
  cursor: pointer;
}
#user_guide_icon {
  width: 220px;
  height: 110px;
  margin-left: 25px;
  cursor: pointer;
}

#skill_guide_icon {
  width: 220px;
  height: 110px;
  margin-left: 400px;
  cursor: pointer;
}
#equip_guide_icon {
  width: 220px;
  height: 110px;
  margin-left: 25px;
  cursor: pointer;
}
.black-overlay {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 550px; /* 與 .action_bar_bg 寬度一致 */
  border-radius: 15px; /* 設置圓角為 15px */
  background: rgba(0, 0, 0, 0.5); /* 半透明黑色背景，透明度設為 0.5 */
  margin-top: 25px;
  margin-left: 370px;
}
.new_info,
.system_info {
  margin-top: 20px;
  margin-left: 20px;
}

.list-item {
  margin-top: 5px;
  padding-left: 0px;
  width: 500px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.list-item2 {
  width: 500px;
  margin-top: 5px;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.list-item:hover,
.list-item2:hover {
  color: yellow; /* 變成黃色 */
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: auto;
  height: 50px;
}
