body,
html {
  height: 100%;
  margin: 0;
  background-color: black;
}
.bg {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url("../images/lineage_news_info_bg.webp");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: greenyellow;
  position: relative;
}
.menu_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
  justify-content: center;
  height: 100%;
  top: 0;
  left: 0;
}
#position_introduce {
  cursor: pointer;
  width: 200px;
  height: 140px;
}
#equid_introduce {
  cursor: pointer;
  margin-top: 80px;
  width: 200px;
  height: 140px;
}
#skill_introduce {
  cursor: pointer;
  margin-top: 80px;
  width: 200px;
  height: 140px;
}

.logo_view {
  cursor: pointer;
  background-image: url("../images/lineage_title.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 300px; /* 根據需要設置寬度 */
  height: 120px; /* 根據需要設置高度 */
  display: inline-block;
  position: absolute; /* 使用絕對定位 */
  bottom: 0; /* 固定在螢幕底部 */
  right: 0; /* 固定在螢幕左側 */
  margin-right: 20px;
  margin-bottom: 20px;
}

.logo_view a {
  display: block; /* 讓 <a> 充滿父容器 */
  width: 100%; /* 寬度填滿父容器 */
  height: 100%; /* 高度填滿父容器 */
  position: absolute; /* 絕對定位以覆蓋父容器 */
  top: 0;
  left: 0;
  text-indent: -9999px; /* 隱藏文字（如果有） */
}
.main_news_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 每行兩個項目 */
  gap: 20px; /* 項目之間的間距 */
  padding: 35px; /* 容器的內邊距 */
  width: 100%; /* 讓寬度自適應螢幕 */
  max-width: calc(100% - 40px); /* 可選：設置最大寬度，避免緊貼螢幕邊緣 */
  border-radius: 15px; /* 設置圓角為 15px */
  background: rgba(0, 0, 0, 0.5); /* 半透明黑色背景，透明度設為 0.5 */
  margin-top: 25px;
  margin-left: 50px; /* 清除固定的 margin */
  margin-right: 350px;
  overflow-y: auto; /* 開啟垂直滾動 */
  overflow-x: hidden; /* 禁止水平滾動 */
}
.main_news_list::-webkit-scrollbar {
  width: 8px; /* 滾動條寬度 */
}

.main_news_list::-webkit-scrollbar-thumb {
  background: #888; /* 滾動條顏色 */
  border-radius: 4px; /* 滾動條圓角 */
}

.main_news_list::-webkit-scrollbar-thumb:hover {
  background: #555; /* 滾動條懸停顏色 */
}
